input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem;
}

.contact__form {
    padding: 2.5rem;

    /* border-radius: 10px;
    background-position-x: 0%, 0%, 0%;
    background-position-y: 0%, 0%, 0%;
    background-repeat: repeat, repeat, repeat;
    background-attachment: scroll, scroll, scroll;
    background-image: radial-gradient(277.36% 77.78% at -106.67% 112.17%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0) 100%), conic-gradient(from 142.32deg at 50% 21.64%, rgb(7, 107, 200) 0deg, rgb(18, 146, 237) 360deg), none; */
}

.contact__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.contact__icon {
    margin-right: 20px;
}

.contact__details {
    display: flex;
}

.details--wrap h4 {
    font-size: x-large;
    font-weight: 500;
}

/* md */
@media (min-width: 768px) {
    .contact {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contact__info {
        width: 50%;
    }
}

/* lg */
@media (min-width: 1024px) {}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */