.course.section {
    margin-top: 0;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.course__title {
    padding-bottom: 1rem;
}

.course__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;

    width: 100vw;
    /* gap: 1rem; */
    padding-left: 1.5rem;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* Hide scrollbar for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

}

.course__wrapper h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
}

.course__wrapper p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.course__wrapper .best-offer {
    background-position-x: 0%, 0%, 0%;
    background-position-y: 0%, 0%, 0%;
    background-repeat: repeat, repeat, repeat;
    background-attachment: scroll, scroll, scroll;
    background-image: radial-gradient(277.36% 77.78% at -106.67% 112.17%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0) 100%), conic-gradient(from 142.32deg at 50% 21.64%, rgb(40, 148, 248) 0deg, rgb(40, 165, 255) 360deg), none;
}

.course__wrapper .best-offer h2 {
    color: var(--background);
}

.course__wrapper .best-offer p {
    color: var(--background);
}

.course__card {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    scroll-snap-align: center;


    min-width: 325px;
    margin-right: 1.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--background);
}

.course__card h2 {
    display: flex;
    min-height: 4.5rem;
    align-items: center;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .course__title {
        padding-bottom: 2.5rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .course__wrapper {
        justify-content: center;
        overflow-x: visible;
        width: 80%;
    }
}