@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-slate400: #94a3b8;
  --clr-slate600: #626f81;
  --clr-slate800: #1e293b;

  /* --clr-blue: #0ea5e9; */
  --clr-blue: #289cfb;
  --clr-blue600: #0284c7;
  --clr-blue700: #0369a1;

  /* real time colors */
  --text: hsl(208, 42%, 6%);
  --background: hsl(200, 60%, 99%);
  --background-100: hsl(200, 60%, 90%);
  --background-200: hsl(200, 60%, 80%);
  --primary: hsl(207, 69%, 54%);
  --secondary: hsl(207, 80%, 72%);
  --accent: hsl(207, 96%, 57%);

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  /* background: radial-gradient(95.13% 25.1% at 88.62% 81.8%, rgba(255, 255, 255, 0.085) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(32.06% 8.65% at 69.4% 57.7%, rgba(255, 255, 255, 0.052) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(44.12% 10.8% at 50.94% 50.3%, rgba(255, 255, 255, 0.052) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(51.6% 11.8% at 74.19% 33.43%, rgba(255, 255, 255, 0.065) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(32.02% 7.32% at 27.92% 22.49%, rgba(255, 255, 255, 0.065) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(55.73% 15.04% at 98.13% 13.04%, rgba(255, 255, 255, 0.065) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(48.02% 12.96% at 27.97% 3.37%, rgba(255, 255, 255, 0.13) 0%, rgba(33, 33, 43, 0) 100%), linear-gradient(0deg, #0D0C1B, #0D0C1B), #C4C4C4; */
  background-repeat: repeat;
  background-size: cover;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

strong {
  color: var(--accent);
}

h1 strong {
  font-weight: 700;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}